@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: #171721;
  margin: 0;

  --white: #F2F2F2;
  --modal: #22222C;
  --grey: #F2F2F245;
  --green: #21CB61;
  --cyan: #A9DED8;
  --bg: #171721;
}

.App {

  font-family: 'Poppins', sans-serif;

  margin: 0;
  padding: 0;
  background-color: var(--bg);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
  border-bottom: var(--cyan) 2px solid;
}

.Header_Title {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.Header_Subtitle {
  margin-top: 0;
  font-size: 1rem;
  color: var(--grey);
  font-weight: 400;
}

.Video_Container {
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Video {
  border-radius: 2rem;
  height: 35rem;
  border: var(--grey) 3px solid;
}


.Data_Container {
  margin-left: 2rem;
  color: var(--white);
  height: 35rem;
  width: 15rem;
}

.Data_Container > * {
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);
}

.Total_Objects {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: var(--modal);
  font-size: 1.25rem;
}

.Total_Objects_Text {
  font-weight: 600;
}

.Total_Objects_Number {
  font-weight: 500;
  color: var(--white);
}

.Detected_Objects {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: var(--modal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detected_Objects_Text {
  font-size: 1.25rem;
  font-weight: 600;
}

.Object_Icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.Object {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey)
}


.Inactive svg * {
  fill: var(--grey);
}

.Active svg * {
  fill: var(--green);
}

.Inactive {
  color: var(--grey);
}

.Active {
  color: var(--green);
}

.Object_Icon svg {
  width: 3rem;
  height: 3rem;
}

.Last-Item {
  align-self: end;
  justify-self: center;
  grid-column: span 2;
}