@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: #171721;
  margin: 0;

  --white: #F2F2F2;
  --modal: #22222C;
  --grey: #F2F2F245;
  --red: #a83636;
  --green: #21CB61;
  --cyan: #A9DED8;
  --bg: #171721;
}

.App {

  font-family: 'Poppins', sans-serif;

  margin: 0;
  padding: 0;
  background-color: var(--bg);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
  border-bottom: var(--cyan) 2px solid;
}

.Header_Title {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.Header_Subtitle {
  margin-top: 0;
  font-size: 1rem;
  color: var(--green);
  font-weight: 400;
}

.Video_Container {
  padding-inline: 2rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Video {
  border-radius: 2rem;
  aspect-ratio: 16 / 9;
  height: 35rem;
  border: var(--grey) 3px solid;
}


.Data_Container {
  margin-left: 2rem;
  color: var(--white);
  height: 35rem;
  width: 15rem;
}

.Data_Container > * {
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);
}

.Total_Objects {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: var(--modal);
  font-size: 1.25rem;
}

.Total_Objects_Text {
  font-weight: 600;
}

.Total_Objects_Number {
  font-weight: 500;
  color: var(--white);
}

.Detected_Objects {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: var(--modal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Detected_Objects_Text {
  font-size: 1.25rem;
  font-weight: 600;
}

.Object_Icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.Object {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey)
}


.Inactive svg * {
  fill: var(--grey);
}

.Active svg * {
  fill: var(--green);
}

.Inactive {
  color: var(--grey);
}

.Active {
  color: var(--green);
}

.Object_Icon svg {
  width: 3rem;
  height: 3rem;
}

.Last-Item {
  align-self: end;
  justify-self: center;
  grid-column: span 2;
}

.Database_Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10rem;
  height: 35rem;
  margin-left: 2rem;
}

.Database_Title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 2rem;
}

.Database_Item {
  position: relative; /* ensure position context for absolute child */
  aspect-ratio: 16 / 9;
  width: 15rem;
  border-radius: 1rem;
  border: 3px solid;
}

.Database_Image {
  aspect-ratio: 16 / 9;
  width: 15rem;
  border-radius: 1rem;
}

.Database_Complete {
  border: var(--green) 3px solid;
}

.Database_Incomplete {
  border: var(--red) 3px solid;
}

.Database {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 20rem;
  height: 35rem;
  overflow-y: scroll;
}

.Data_Popup {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Optional: prevent the popup from being too wide */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  overflow: hidden;
  background-color: var(--bg);
}

.Data_Popup_Image {
  aspect-ratio: 16 / 9;
  height: 35rem;
  border-radius: 2.5rem;
}

.Data_Popup_Info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35rem;
  width: 100%;
  border-radius: 2.5rem;
  color: var(--white);
  position: absolute;
  z-index: 7;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  padding-bottom: 2rem;
}

.Data_Popup_Info p {
  margin-left: 2rem;
  margin-top: 0rem;
  line-height: 1rem;
}

.Gender {
  font-weight: 500;
  font-size: 1.5rem;
}

.Complete {
  font-weight: 600;
  font-size: 2rem;
}

.Missing {
  font-weight: 500;
  font-size: 1.75rem;
}

.Timestamp {

}

.Black_Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

